# Set the default behavior, in case people don't have `core.autocrlf` set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.js text eol=lf

# Remove files using `git archive`.
.*               export-ignore
test/sitemap.js  export-ignore
test/urls.js     export-ignore
